.currentWeather {
    display: flex; 
    font-family: 'Roboto';
    font-weight: 700; 
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-top: 25px; 
}

.tempLocationContainer {
    display: flex;
    flex-direction: column;
}

.separator {
    display: inline;
    border-left: 2px solid black;
    height: 110px;
    margin-top: 30px;
}

.currentTemp {
    display: flex; 
    font-size: 80px; 
    margin-bottom: 0px;
    margin-left: 15px;
    justify-content: center;
}

.currentForecast {
    display: flex; 
    font-size: 15px; 
    margin-top: 35px;
    margin-right: 20px;
    justify-content: center;
    flex-direction: column;
}

.currentLocation {
    display: flex;
    justify-content: flex-end;
    font-weight: 400; 
    margin-left: 15px;
    flex-direction: column
}

.todaysImage {
    height: 50px; 
    width: 50px; 
    padding-left: 20px;
    padding-bottom: 10px;
}