.currentWeather {
    display: flex; 
    font-family: 'Roboto';
    font-weight: 700; 
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-top: 25px; 
}

.tempLocationContainer {
    display: flex;
    flex-direction: column;
}

.separator {
    display: inline;
    border-left: 2px solid black;
    height: 100px;
}

.currentTemp {
    display: flex; 
    font-size: 80px; 
    margin-bottom: 0px;
    justify-content: center;
}

.currentForecast {
    display: flex; 
    font-size: 20px; 
    margin-bottom: 0px;
    justify-content: center;
}

.currentLocation {
    display: flex;
    justify-content: flex-end;
    justify-content: center;
    font-weight: 400; 
}